# Exercices XP du 23/06/2025
Derni√®re mise √† jour : 7 mars 2025

## Ce que vous apprendrez :
Op√©rations NumPy de base, y compris la cr√©ation de tableaux, la manipulation et les op√©rations de base sur les tableaux.
Comp√©tences dans la manipulation de tableaux unidimensionnels et multidimensionnels.


## Ce que vous allez cr√©er :
Une s√©rie de tableaux NumPy d√©montrant diff√©rentes op√©rations, allant de la simple cr√©ation de tableaux √† des manipulations plus complexes.

## üåü Exercice 1 : Cr√©ation et manipulation de tableaux
Instructions
Cr√©ez un tableau NumPy 1D contenant des nombres de 0 √† 9.

R√©sultat attendu :



array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
import numpy as np  # Importation de NumPy

In [ ]:
# √âtape 1 : Cr√©er un tableau 1D contenant les entiers de 0 √† 9
# np.arange g√©n√®re une s√©quence de 0 √† 9 (10 exclu)
tableau = np.arange(10)

In [ ]:
# √âtape 2 : Afficher tableau
print(tableau)  # R√©sultat : array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

[0 1 2 3 4 5 6 7 8 9]

## Exercice 2 : Conversion de type et op√©rations sur les tableaux
Instructions
Convertissez une liste [3.14, 2.17, 0, 1, 2]en un tableau NumPy et convertissez son type de donn√©es en entier.

R√©sultat attendu :

array([3, 2, 0, 1, 2])

In [ ]:
import numpy as np  # Importer biblioth√®que NumPy

In [ ]:
# √âtape 1 : D√©finir liste contenant des nombres flottants
liste = [3.14, 2.17, 0, 1, 2]

In [5]:
# √âtape 2 : Conversion de la liste en tableau NumPy avec un type de donn√©es entier
# Cela convertit chaque √©l√©ment en entier en supprimant la partie d√©cimale (pas d'arrondi)
tableau = np.array(liste, dtype=int)

In [ ]:
# √âtape 3 : Afficher tableau r√©sultant
print(tableau)  # R√©sultat : array([3, 2, 0, 1, 2])

[3 2 0 1 2]

## Exercice 3 : Travailler avec des tableaux multidimensionnels
Instructions
Cr√©ez un tableau NumPy 3x3 avec des valeurs allant de 1 √† 9.

R√©sultat attendu :



array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
import numpy as np  # Importation de la biblioth√®que NumPy

In [10]:
# √âtape 1 : G√©n√©rer une s√©quence de 1 √† 9
# np.arange(1, 10) cr√©e un tableau 1D avec les valeurs de 1 √† 9
valeurs = np.arange(1, 10)

In [11]:
# √âtape 2 : Remodeler le tableau en 3 lignes et 3 colonnes (3x3)
# reshape transforme le tableau 1D en matrice 2D
tableau_3x3 = valeurs.reshape((3, 3))

In [12]:
# √âtape 3 : Affichage du tableau 2D
print(tableau_3x3)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

## Exercice 4 : Cr√©ation d'un tableau multidimensionnel avec des nombres al√©atoires
Instructions
Cr√©ez un tableau NumPy 2D de forme (4, 5) rempli de nombres al√©atoires.

R√©sultat attendu :

array([[0.56, 0.85, 0.01, 0.42, 0.68],
       [0.22, 0.37, 0.73, 0.93, 0.39],
       [0.44, 0.03, 0.87, 0.02, 0.83],
       [0.78, 0.87, 0.98, 0.80, 0.46]])

In [ ]:
import numpy as np  # Importation de NumPy

In [13]:
# √âtape 1 : Cr√©er un tableau 2D de forme (4, 5) avec des valeurs al√©atoires entre 0 et 1
# np.random.rand(4, 5) g√©n√®re un tableau 4x5 de flottants al√©atoires uniformes
tableau_aleatoire = np.random.rand(4, 5)

In [23]:
# √âtape 2 : Arrondir les valeurs √† 2 d√©cimales pour lisibilit√© (optionnel)
tableau_aleatoire = np.round(tableau_aleatoire, 2)

In [24]:
# √âtape 3 : Affichage du tableau
print(tableau_aleatoire)

[[0.81 0.58 0.03 0.21 0.14]
 [0.9  0.6  0.38 0.6  0.6 ]
 [0.29 0.34 0.23 0.32 0.12]
 [0.31 0.8  0.09 0.93 0.61]]

## üåü Exercice 5 : Indexation des tableaux
Instructions
S√©lectionnez la deuxi√®me ligne d‚Äôun tableau NumPy 2D donn√©.

R√©sultat attendu :



array = np.array([[21,22,23,22,22],[20, 21, 22, 23, 24],[21,22,23,22,22]])

In [ ]:
import numpy as np  # Importation de NumPy

In [25]:
# √âtape 1 : D√©finir le tableau 2D
array = np.array([
    [21, 22, 23, 22, 22],
    [20, 21, 22, 23, 24],
    [21, 22, 23, 22, 22]
])

In [26]:
# √âtape 2 : S√©lection de la deuxi√®me ligne (index 1, car l‚Äôindexation commence √† 0)
deuxieme_ligne = array[1]

In [27]:
# √âtape 3 : Affichage de la ligne extraite
print(deuxieme_ligne)

[20 21 22 23 24]

## üåü Exercice 6 : Inversion des √©l√©ments
Instructions
Inverse l'ordre des √©l√©ments dans un tableau NumPy 1D donn√© (le premier √©l√©ment devient le dernier).

R√©sultat attendu :



array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [28]:
import numpy as np  # Importation de NumPy

In [29]:
# √âtape 1 : Cr√©ation du tableau initial de 0 √† 9
tableau = np.arange(10)

In [30]:
# √âtape 2 : Inversion de l'ordre des √©l√©ments avec slicing
tableau_inverse = tableau[::-1]

In [31]:
# √âtape 3 : Affichage du tableau invers√©
print(tableau_inverse)

[9 8 7 6 5 4 3 2 1 0]

## üåü Exercice 7 : Matrice d'identit√©
Instructions
Cr√©ez une matrice d'identit√© 4x4 √† l'aide de NumPy.

R√©sultat attendu :



array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [32]:
import numpy as np  # Importation de NumPy

In [33]:
# √âtape 1 : Cr√©ation d'une matrice identit√© de taille 4x4
# np.eye(n) g√©n√®re une matrice identit√© de taille n
matrice_identite = np.eye(4)

In [34]:
# √âtape 2 : Affichage de la matrice
print(matrice_identite)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

## üåü Exercice 8 : Fonctions d'agr√©gation simples
Instructions
Trouvez la somme et la moyenne d'un tableau 1D donn√©.

R√©sultat attendu :



Sum: 45, Average: 4.5

In [35]:
import numpy as np  # Importation de NumPy

In [36]:
# √âtape 1 : Cr√©ation du tableau 1D
tableau = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
# √âtape 2 : Calcul de la somme des √©l√©ments
somme = np.sum(tableau)

In [38]:
# √âtape 3 : Calcul de la moyenne des √©l√©ments
moyenne = np.mean(tableau)

In [39]:
# √âtape 4 : Affichage des r√©sultats
print("Sum:", somme, ", Average:", moyenne)

Sum: 45 , Average: 4.5

## Exercice 9 : Cr√©er un tableau et modifier sa structure
Instructions
Cr√©ez un tableau NumPy avec des √©l√©ments de 1 √† 20 ; puis remodelez-le en une matrice 4x5.

R√©sultat attendu :



array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [40]:
import numpy as np  # Importation de NumPy

In [41]:
# √âtape 1 : Cr√©er un tableau contenant les entiers de 1 √† 20
tableau = np.arange(1, 21)

In [42]:
# √âtape 2 : Remodeler le tableau en matrice 4x5
matrice = tableau.reshape((4, 5))

In [43]:
# √âtape 3 : Affichage de la matrice r√©sultante
print(matrice)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

## üåü Exercice 10 : S√©lection conditionnelle de valeurs
Instructions
Extraire tous les nombres impairs d'un tableau NumPy donn√©.

R√©sultat attendu :



array([1, 3, 5, 7, 9])

In [44]:
import numpy as np  # Importation de NumPy

In [45]:
# √âtape 1 : Cr√©er un tableau 1D de 0 √† 9
tableau = np.arange(10)

In [46]:
# √âtape 2 : S√©lectionner les √©l√©ments impairs avec une condition
# Un nombre est impair si le reste de la division par 2 est 1
impairs = tableau[tableau % 2 == 1]

In [47]:
# √âtape 3 : Affichage du r√©sultat
print(impairs)

[1 3 5 7 9]