In [2]:
df.to_excel('filename.xlsx', sheet_name='Sheet1')

NameError: name 'df' is not defined

In [1]:
df.to_json('filename.json', orient='split')

NameError: name 'df' is not defined

In [3]:
df.to_csv('filename.csv', index=False)

NameError: name 'df' is not defined

In [4]:
df.to_excel('filename.xlsx', sheet_name='Sheet1')

NameError: name 'df' is not defined

In [5]:
df.to_json('filename.json', orient='split')

NameError: name 'df' is not defined

In [6]:
# Exporting with different orientations
df.to_json('filename.json', orient='split')
df.to_json('filename_records.json', orient='records')

NameError: name 'df' is not defined

D√©f# i : Techniques d'exportation de donn√©es
1. Exporter au format CSV :

## Cr√©ez un DataFrame avec trois colonnes quelconques.
Exportez-le vers un fichier CSV nomm√© simple_export.csv, en vous assurant que l'index n'est pas inclus.
2. Exportation JSON :

## Utilisez le m√™me DataFrame.
Exportez-le vers un fichier JSON nomm√© simple_export.jsonen utilisant les param√®tres par d√©faut.
3. Cr√©ation de fichier Excel :

Exporter le DataFrame vers un fichier Excel simple_export.xlsx.

In [24]:
import pandas as pd

In [25]:
# Cr√©ation du DataFrame
df = pd.DataFrame({
    'Nom': ['Alice', 'Bob', 'Charlie'],
    '√Çge': [25, 30, 35],
    'Ville': ['Paris', 'Lyon', 'Marseille']
})

In [26]:
# Exportation au format CSV (sans index)
df.to_csv('simple_export.csv', index=False)

In [27]:
# Exportation au format JSON (param√®tres par d√©faut)
df.to_json('simple_export.json')

In [32]:
import sys
sys.path.append(r'C:\Users\chume\Documents\GitHub\FSTB_Bootcamp_2025_Repository_Github\FSTB_Bootcamp_2025_Repository_Github\env\Lib\site-packages')

import pandas as pd

In [33]:
df = pd.DataFrame({
    'Nom': ['Alice', 'Bob', 'Charlie'],
    '√Çge': [25, 30, 35],
    'Ville': ['Paris', 'Lyon', 'Marseille']
})

df.to_excel('simple_export.xlsx', index=False)

In [40]:
 import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'Column1': [1, 2, 3, 4, 5],
    'Column2': ['A', 'B', 'C', 'D', 'E'],
    'Column3': [True, False, True, False, True]
})

# Export to CSV
df.to_csv('my_dataframe.csv', index=False)

# Export to JSON
df.to_json('my_dataframe.json')

# üöÄ Challenge: Creating a Synthetic Sales Dataset

Objective: Your task is to generate a synthetic dataset that represents sales data for a retail store. This exercise will test your skills in applying statistical methods and using Python libraries to create data that mimics real-world scenarios.

In [51]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import random

In [52]:
# Param√®tres
n = 500
produits = ['Chaussures', 'T-shirt', 'Jeans', 'Sac', 'Montre', 'Casquette', 'Sweat', 'Lunettes']

In [53]:
# G√©n√©ration manuelle des donn√©es
product_names = [random.choice(produits) for _ in range(n)]
sale_amounts = np.random.randint(10, 500, size=n)
sale_dates = [datetime.today() - timedelta(days=random.randint(0, 365)) for _ in range(n)]
customer_ages = np.clip(np.random.normal(loc=35, scale=10, size=n).astype(int), 18, 75)

In [54]:
# Cr√©ation du DataFrame
df = pd.DataFrame({
    'Product': product_names,
    'Sale Amount': sale_amounts,
    'Date of Sale': sale_dates,
    'Customer Age': customer_ages
})

In [55]:
print(df.head())

   Product  Sale Amount               Date of Sale  Customer Age
0      Sac          433 2024-12-22 11:59:59.460845            18
1    Jeans          123 2025-01-28 11:59:59.460845            33
2    Jeans          478 2024-08-05 11:59:59.460845            30
3    Sweat          140 2024-07-31 11:59:59.460845            48
4  T-shirt          187 2024-08-19 11:59:59.460845            34

# Exercice : cr√©ation d'un ensemble de donn√©es
Objectif : Cr√©er un ensemble de donn√©es synth√©tiques qui pourrait √™tre utilis√© pour un mod√®le de pr√©diction des ventes au d√©tail.

## Mesures:


1. Concevoir le sch√©ma du jeu de donn√©es :

D√©cidez des colonnes et des types de donn√©es (par exemple, cat√©gories de produits, chiffres de vente, donn√©es d√©mographiques des clients).

| Colonne           | Type     | Description               |
| ----------------- | -------- | ------------------------- |
| Product\_Category | string   | Cat√©gorie du produit      |
| Sale\_Amount      | float    | Montant de la vente (‚Ç¨)   |
| Sale\_Date        | datetime | Date de la vente          |
| Customer\_Age     | int      | √Çge du client             |
| Customer\_Gender  | string   | Sexe du client ('M', 'F') |
| Region            | string   | R√©gion de vente           |

## 2. G√©n√©rer des donn√©es synth√©tiques :

Utilisez la biblioth√®que Python fakerpour cr√©er des donn√©es clients r√©alistes.
Simulez les chiffres de vente en fonction des mod√®les de vente au d√©tail courants.

In [57]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

# Param√®tres
n = 1000
categories = ['√âlectronique', 'V√™tements', 'Maison', 'Jouets', 'Beaut√©']
regions = ['Nord', 'Sud', 'Est', 'Ouest']
genders = ['M', 'F']

# Fonctions auxiliaires
def random_date():
    today = datetime.today()
    delta = timedelta(days=random.randint(0, 365))
    return today - delta

def seasonal_multiplier(month):
    # Effet saisonnier simple
    if month in [11, 12]:  # f√™tes
        return np.random.uniform(1.2, 1.8)
    elif month in [6, 7, 8]:  # √©t√© calme
        return np.random.uniform(0.7, 1.0)
    else:
        return np.random.uniform(0.9, 1.2)

# G√©n√©ration des donn√©es
data = []
for _ in range(n):
    category = random.choice(categories)
    region = random.choice(regions)
    gender = random.choice(genders)
    age = np.clip(int(np.random.normal(35, 12)), 18, 75)
    date = random_date()
    base_price = {
        '√âlectronique': 200,
        'V√™tements': 50,
        'Maison': 120,
        'Jouets': 30,
        'Beaut√©': 40
    }[category]
    amount = round(base_price * seasonal_multiplier(date.month) * np.random.uniform(0.8, 1.2), 2)
    
    data.append([category, amount, date, age, gender, region])

# DataFrame
df = pd.DataFrame(data, columns=[
    'Product_Category', 'Sale_Amount', 'Sale_Date', 'Customer_Age', 'Customer_Gender', 'Region'
])

print(df.head())

  Product_Category  Sale_Amount                  Sale_Date  Customer_Age  \
0           Beaut√©        29.92 2025-06-15 12:09:17.234887            25
1        V√™tements        52.21 2025-04-07 12:09:17.234887            41
2           Jouets        32.24 2025-03-01 12:09:17.234887            45
3           Jouets        18.14 2024-08-15 12:09:17.234887            33
4           Maison       146.62 2024-09-10 12:09:17.234887            30

  Customer_Gender Region
0               M   Nord
1               M    Sud
2               M  Ouest
3               F    Est
4               M  Ouest

## 3. Augmentation des donn√©es :

Introduire la variabilit√©, par exemple les changements saisonniers dans les ventes.

In [59]:
def seasonal_multiplier(month):
    if month in [11, 12]:  # f√™tes de fin d‚Äôann√©e
        return np.random.uniform(1.2, 1.8)  # +20% √† +80%
    elif month in [6, 7, 8]:  # √©t√©
        return np.random.uniform(0.7, 1.0)  # -30% √† stable
    else:
        return np.random.uniform(0.9, 1.2)  # ¬±10%

L‚Äôobjectif est de rendre les donn√©es plus r√©alistes en mod√©lisant l‚Äôimpact des saisons sur les ventes. Par exemple :

En novembre/d√©cembre (p√©riode des f√™tes), les ventes augmentent.

En √©t√© (juin √† ao√ªt), les ventes baissent selon les secteurs.

Les autres mois sont consid√©r√©s comme ‚Äúnormaux‚Äù.

## 4. R√©vision et perfectionnement :

Inspectez l‚Äôensemble de donn√©es pour v√©rifier sa qualit√© et son r√©alisme.
Effectuer les ajustements n√©cessaires.

In [58]:
print(df.describe(include='all'))
print(df['Sale_Date'].min(), df['Sale_Date'].max())

       Product_Category  Sale_Amount                      Sale_Date  \
count              1000  1000.000000                           1000
unique                5          NaN                            NaN
top              Maison          NaN                            NaN
freq                223          NaN                            NaN
mean                NaN    96.214710  2024-12-17 12:00:38.842575104
min                 NaN    17.100000     2024-06-17 12:09:17.234887
25%                 NaN    38.335000  2024-09-07 06:09:17.242011136
50%                 NaN    58.695000  2024-12-20 12:09:17.239738880
75%                 NaN   143.945000  2025-03-26 12:09:17.246137856
max                 NaN   423.280000     2025-06-17 12:09:17.240278
std                 NaN    73.970813                            NaN

        Customer_Age Customer_Gender Region
count      1000.0000            1000   1000
unique           NaN               2      4
top              NaN               F    Est
freq             NaN             502    267
mean         35.3280             NaN    NaN
min          18.0000             NaN    NaN
25%          26.7500             NaN    NaN
50%          35.0000             NaN    NaN
75%          43.0000             NaN    NaN
max          75.0000             NaN    NaN
std          11.1501             NaN    NaN
2024-06-17 12:09:17.234887 2025-06-17 12:09:17.240278