# Exercices XP Gold
Dernière mise à jour : 14 décembre 2023

Ce que nous allons apprendre :
Programmation Python de base dans Google Colab et Jupyter Notebook
Accéder et analyser les ensembles de données de Kaggle
Techniques de base d'analyse de données en Python
Compétences en création et manipulation de données par programmation.


Ce que vous allez créer :
Scripts Python dans Google Colab et Jupyter Notebook
Sorties affichant des résumés d'ensembles de données et des résultats d'analyse de données de base

## Exercice 1 : Programmation Python de base avec Google Colab.
Instructions
Créez un nouveau bloc-notes dans Google Colab.
Écrivez un script Python pour vérifier si un nombre donné est premier. Par exemple, vérifiez si le nombre 7 est premier.

In [ ]:
# Vérifie si un nombre est premier

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Exemple : vérifier si 7 est premier
nombre = 7
if is_prime(nombre):
    print(f"{nombre} est un nombre premier.")
else:
    print(f"{nombre} n'est pas un nombre premier.")

## Exercice 2 : Compréhensions de listes avec Jupyter Notebook.
Instructions
Lancez Jupyter Notebook sur votre machine locale.
Créer un nouveau carnet.
Écrivez un script Python utilisant des compréhensions de liste pour trouver tous les nombres dans une plage donnée (par exemple, 1 à 20) qui sont divisibles par un nombre spécifique (par exemple, 3).

In [ ]:
# Trouver tous les nombres entre 1 et 20 divisibles par 3, avec une compréhension de liste

divisible_by_3 = [n for n in range(1, 21) if n % 3 == 0]

print("Nombres entre 1 et 20 divisibles par 3 :", divisible_by_3)

## Exercice 3 : Exploration de l'ensemble de données Kaggle : Imprimer les informations de l'ensemble de données
Instructions
Choisissez un ensemble de données autre que Titanic de Kaggle (par exemple, Iris Dataset).
Écrivez un script pour imprimer l'en-tête, les colonnes et les types de données de l'ensemble de données choisi (sur Google Colab ou sur Jupyter Notebook)

In [ ]:
import pandas as pd

# Charger le jeu de données (remplace 'iris.csv' par le nom réel de ton fichier)
df = pd.read_csv('iris.csv')

# Afficher les premières lignes (en-tête)
print("En-tête de l'ensemble de données :")
print(df.head())

# Afficher les noms des colonnes
print("\nColonnes de l'ensemble de données :")
print(df.columns.tolist())

# Afficher les types de données
print("\nTypes de données des colonnes :")
print(df.dtypes)

## Exercice 4 : Analyse de données de base avec Kaggle
Instructions
Sélectionnez un ensemble de données simple dans Kaggle (par exemple, l'ensemble de données sur le logement à Boston).
Effectuez une analyse de données de base pour trouver la moyenne, la médiane et l’écart type d’une colonne particulière.

In [ ]:
import pandas as pd

# Charger le jeu de données Boston Housing (remplace le nom du fichier si besoin)
df = pd.read_csv('boston.csv')  # ou 'housing.csv' selon ton fichier

# Exemple : analyser la colonne 'MEDV' (prix moyen des maisons)
mean = df['MEDV'].mean()
median = df['MEDV'].median()
std = df['MEDV'].std()

print("Moyenne de MEDV :", mean)
print("Médiane de MEDV :", median)
print("Écart type de MEDV :", std)

## Exercice 5 : Transformer des données qualitatives en données quantitatives avec l'ensemble de données Titanic
Instructions
Téléchargez l'ensemble de données Titanic à partir d'une source comme Kaggle.
Chargez l’ensemble de données dans un environnement Python à l’aide de Pandas.
Transformez la colonne sexe pour représenter 0 comme « femme » et 1 pour « homme » à l'aide de .mapla fonction.

In [ ]:
import pandas as pd

# Charger l'ensemble de données Titanic (adapte le nom de fichier si besoin)
df = pd.read_csv('titanic.csv')

# Transformer la colonne 'Sex' en valeurs numériques : 0 pour femme, 1 pour homme
df['Sex'] = df['Sex'].map({'female': 0, 'male': 1})

# Afficher les premières lignes pour vérification
print(df[['Sex']].head())